template(name='followButton')
  //- Takes user object as a context
  if isCurrentUser this
    div
  else
    if isFollowed
      button(id='#{_id}').btn.btn-sm.btn-success.follow-btn Followed
    else
      button(id='#{_id}').btn.btn-sm.btn-default.follow-btn Follow
