template(name='twattList')
  //- Takes a collection of twatts as a context
  .col-xs-12.twatt-list
    each this
      .media.single-twatt-container
        .media-left.media-top
          +gravatar context=this size=64

        .media-body
          a(href="{{ pathFor 'profile' }}")
            h5
              b #{ username }
          p #{ text }
          small.twatt-time.text-muted #{ twattTimestamp }
          .twatt-options
            if ownsTwatt this
              small#remove-twatt.text-danger.pointer
                span.glyphicon.glyphicon-trash
                | Remove
