template(name='followlist')
  h2 #{ this.type }: (#{ this.usersCount })
  each users
    .col-xs-12
      .media
        a(href="{{ pathFor 'profile' }}").media-left
          +gravatar context=this size=100
        .media-body
          a(href="{{ pathFor 'profile' }}")
            h4.media-heading #{ username }
          +followButton this
