template(name='stream')
  +twattForm
  +twattList

template(name='twattForm')
  .input-group.input-group-lg.twat-input-field
    input#twatt-input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
    span.input-group-btn
      button#save-twatt.btn.btn-success Twatt!

template(name='twattList')
  ul.list-group.container-fluid
    each twatts
      li.list-group-item.row
        .col-xs-11
          h5 #{ author }
          p #{ text }
        .col-xs-1
          button#remove-twatt.btn.btn-xs.btn-danger.pull-right
            span.glyphicon.glyphicon-trash
