template(name='stream')
  +write
  +twatts

template(name='write')
  input(type='' placeholder='Write message').form-control.message-field
  button.btn.btn-primary.send Send

template(name='twatts')
  ul.list-group
    each twatts
      li.list-group-item
        div #{ author }
        div #{ text }
