template(name='stream')
  +write
  +twatts

template(name='write')
  .input-group.input-group-lg.twat-input-field
    input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
    span.input-group-btn
      button.btn.btn-success.send Send

template(name='twatts')
  ul.list-group
    each this
      li.list-group-item
        div #{ username }
        div #{ text }
