template(name='stream')
  +write
  +twatts

template(name='write')
  .input-group.input-group-lg.twat-input-field
    input#twatt-input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
    span.input-group-btn
      button#save-twatt.btn.btn-success Twatt!

template(name='twatts')
  ul.list-group
    each this
      li.list-group-item
        div #{ username }
        div #{ text }
