template(name='stream')
  .col-md-3
    +profileSidebar
  .col-md-9
    .row
      +twattForm
      +twattList twatts

template(name='profileSidebar')
  .profile-sidebar
    with currentUser
      .profile-picture
        a(href="{{ pathFor 'profile' username=username }}")
          +gravatar context=this size=128
        h3
          a(href="{{ pathFor 'profile' username=username }}") #{ username }
      .panel.panel-default
        .panel-body
          +profileNumbers this

template(name='twattForm')
  .col-xs-12.well.well-lg
    .input-group.input-group-lg.twat-input-field
      input#twatt-input.form-control.message-field(type='text' placeholder="What yo wanna twatt 'bout?")
      span.input-group-btn
        button#save-twatt.btn.btn-success
          span.glyphicon.glyphicon-send
          | Twatt!
