template(name='userlist')
  .container
    .row
      .col-xs-12
        h2
          | Twatter
          sup &trade;
          | users
    .row
      ul.list-group.container-fluid.col-xs-12
        each users
          li.list-group-item.row
            .col-xs-11
              h4 {{username}}
              //- p {{biography}}
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, facere.
            .col-xs-1
              if isFollowed _id
                button(id='#{_id}', data='followed').btn.btn-sm.btn-success.follow-btn Followed
              else
                button(id='#{_id}', data='follow').btn.btn-sm.btn-default.follow-btn Follow
