template(name="userlist")
  .container
    .row
      .col-xs-12
        h2
          | Meet other Twatters
    .row.user-list-container
      each users
        .media.col-md-6.col-lg-4
          .media-left.media-top
            //- img.img-circle(src="http://beerhold.it/64/64", alt="")
            +gravatar

          .media-body
            a(href="{{ pathFor 'profile' }}")
              h4 #{username}
            p #{ profile.bio }

          .media-right.media-middle
            +followButton this
