template(name="register")
  .container
    .row
      .col-xs-12
        h2 Register a new account
    .row
      form#register-form.form-horizontal(action="" role="form")
        .form-group
          label.col-xs-2.control-label(for="username")
            | Username:
          .col-xs-10
            input#username.form-control(type="text")
        .form-group
          label.col-xs-2.control-label(for="email")
            | Email:
          .col-xs-10
            input#email.form-control(type="email" placeholder="name@domain.com")
        hr
        .form-group
          label.col-xs-2.control-label(for="password")
            | Password:
          .col-xs-10
            input#password.form-control(type="password")
        .form-group
          label.col-xs-2.control-label(for="password-confirmation")
            | Repeat password:
          .col-xs-10
            input#password-confirmation.form-control(type="password")

        .form-group
          .col-xs-12
            input#register-submit.btn.btn-success.btn-lg.pull-right(type="submit" value="Register")

