template(name="resetPassword")
  .container
    .row
      .panel.panel-default.reset-password-panel.center-block
        .panel-heading
          h2.panel-title.text-center
            unless resetPassword
              | Reset your password
            else
              | Enter new password

        .panel-body
          if resetPassword
            form#new-password.form-horizontal(action="" role="form")
              .form-group
                .col-xs-12
                  input#new-password-prompt.form-control.input-lg(type="password" placeholder="New password")
              .form-group
                .col-xs-12
                  input.btn.btn-success.pull-right(type="submit" value="Change password")
          else
            form#reset-form.form-horizontal(action="" role="form")
              .form-group
                .col-xs-12
                  input#reset-email.form-control.input-lg(type="email" placeholder="Your user email")
              .form-group
                .col-xs-12
                  input.btn.btn-success.pull-right(type="submit" value="Send Reset Instructions")
