template(name="profile")
  .container
    .row
      .col-xs-12.text-center
        //- img(src="http://beerhold.it/128/128", alt="").img-circle
        +gravatar user
        h2 #{ user.username }
          +followButton user
        with currentUser
          //- defined in stream.jade
          +profileNumbers

      //- defined in stream.jade
      +twattList
